<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 style="text-align: center">User</h2>
    <h1 style="text-align: center">Thông tin của bạn</h1>
    <table class="table table-bordered" th:object="${account}">
        <thead>
        <tr>
            <th colspan="2" style="text-align: center"><img th:src="*{avatar}" width="200" height="200"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Username</td>
            <td th:text="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td th:text="*{password}"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td th:text="*{birthday}"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="*{role.getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
