<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <h2>Stacked form</h2>
    <div th:if="${message!=null}">
        <h2 class="text-danger" th:text="${message}"></h2>
        <h2 class="text-primary">Choose file mp3, mp4, ogg, wav</h2>
    </div>
    <form th:action="${type}" method="post" th:object="${song}" enctype="multipart/form-data">
        <input hidden="hidden" th:field="*{id}">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter name" th:field="*{name}" required>
        </div>

        <div class="form-group">
            <label>Artist:</label>
            <input type="text" class="form-control" placeholder="Enter artist" th:field="*{artist}" required>
        </div>

        <div class="form-group">
            <label>Category:</label>
            <input type="text" class="form-control" placeholder="Enter artist" th:field="*{category}" required>
        </div>
        <div class="form-group">
            <label>Song:</label>
            <input type="file" class="form-control" name="fileSong" th:value="${song.nameFile}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
